language: python
matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.3
      env: TOXENV=py33
    - python: 3.5
      env: TOXENV=py35
install: pip install tox
script:
  - tox
