include README.rst
include LICENSE.txt
include CONTRIBUTORS.txt
recursive-include thespian *.py *.txt
recursive-include contrib *.py *.txt
recursive-include examples *.py *.txt *.org *.sh
include doc/design.org
include doc/design-routing.org
include doc/developer.org
include doc/in_depth.org
include doc/index.org
include doc/releases.org
include doc/thespian.cls
include doc/thespian.css
include doc/thespian.el
include doc/using.org
include doc/gen_*.sh
include doc/thesplogo2.png
include doc/thesplogo2.jpg
